#root {
  max-width: 1280px;
  margin: 0 auto;
  top:0;
  position:relative;
  min-height: 100vh;
}
.mainBody{
  margin-top: 10px;
}
.testbtn{
  background-color: #4C51CA;
  color: white;
  margin: 0 auto;
  display: block;

}
.testbtn:hover{
  background-color: white;
  color: #4C51CA;
  border-color: #4C51CA;
  border-width: 2px;
}
.name{
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 30px;
}
.inputAndStar{
  display: flex;
  align-items:center;
  height: 30px;
  margin: 0;
}
.addName{
  height: 30px;
}
.star{
  padding-right: 10px;
  color: red;
  font-style: inherit;
  opacity: 0;
}
.addName{
  border-radius: 7px;
  border-style: none;
  background-color: #D9D9D9;
  width: 50vw;
  margin-top: 10px;
}
.addName::placeholder{
  font-weight: 550;
  font-style: inherit;
  padding-left: 5px;
  font-size: 18px;
}
.addName:focus::placeholder{
  opacity: 0;
}
.errorText{
  color: red;
  font-size: 10px;
  padding-left: 12px;
  margin: 0;
  opacity: 0;
}
.error{
  opacity: 1;
}
.marksnbutton{
  display: flex;
  justify-content: space-between;
  margin-top:15px ;
  margin-bottom: 10px;
}
.marksInput{
  margin-left: 15px;
}
.markTitle{
  font-size: 17px;
  font-weight: 700;
  margin-left: 48px;
  margin-bottom:3px;
}
.markSubTitle{
  font-size: 17px;
  font-weight: 700;
}
.addMarkButton{
  border-radius: 7px;
  background-color: #D9D9D9;
  height: 45px;
}
.addMark{
  margin-left: 7px;
  border-radius: 7px;
  border-style: none;
  background-color: #D9D9D9;
  width: 50vw;
  height: 30px;
  align-items: center;
}
.addMark::placeholder{
  font-weight: 550;
  font-style: inherit;
  padding-left: 5px;
  font-size: 18px;
}
.taskTitleAndButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right:30px;
  margin-bottom: 20px;
}
.taskItem{
  border-color: #4C51CA;
  border-width: 2px;
  border-style:solid;
  border-width: 1px;
  border-left: none;
  border-right:none;
  border-top: none;
  margin-top: 20px;
}
.taskTitle{
  font-size: 25px;
  color: white;
  font-weight: 700;
  margin-left: 48px;
  margin-bottom:3px;
  align-items: center;
  text-shadow: 
    -2px -2px 0px #4C51CA,  
    2px -2px 0px #4C51CA,
    -2px 2px 0px #4C51CA,
    2px 2px 0px #4C51CA,
    0px 0px 2px #4C51CA;
}
.startTask{
  background-color: #4C51CA;
  color:white;
  width: 150px;
  letter-spacing: 3px;
}
.startTask:disabled{
  background-color: white;
  color:#4C51CA;
  border-color: #4C51CA;
  border-width: 2px;
  letter-spacing: normal;
}
.bottomButtons{
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  z-index: 1;
}
.deleteTask{
  margin-top: 10px;
  margin-right: 0;
  background-color: transparent;

}
.markAndTimer{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin-bottom: 10px;
}
.icon{
  margin-right: 10px;
}
.iconNName{
  display: flex;
  align-items: center;
  min-width: 110px;
}
.activeMarkButton{
  background-color:transparent;
  width: 125px;
}
.margin35left{
margin-left: 35px;
}
.inactiveMarkButton{
  color: #D9D9D9;
  background-color: transparent;
  width: 125px;
}
.finishEdit{
  margin-top:30px ;
  display: grid;
  align-items: center;
}
.finishEditButton{
  background-color: #4C51CA;
  color:white;
  font-size: 25px;
  letter-spacing: 3px;
}
.resultButton{
  opacity: 0;
  background-color: #4C51CA;
  color: white;
  letter-spacing: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  left: 50%;
}
.result{
  opacity: 100;
}

/* ENDSCREEN */
.endscreenTitle{
  font-size: 38px;
  text-align: center;
  font-weight: 700;
  color: #4C51CA;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.endscreenTimer{
  color: #4C51CA;
  font-weight: 600;
}
.endscreenText{
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.li{
  position: relative; 
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-bottom: 10px;
}
.li span{
  color: black;
  font-size: 20px;
}

.endscreenButton{
  background-color: #4C51CA;
  color: white;
  margin: 0 auto;
  display: block;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 20px;
}
.endscreenMarkTimer{
  color: #4C51CA;
  font-size: 20px;
  font-weight: 600;
  border-style: solid;
  border-color: #4C51CA;
  border-width: 2px;
  border-radius: 15px;
  padding: 5px;
}
.endscreenMarksTitle{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

/* DELETE */
.deleteTitle{
  color: #4C51CA;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.deleteText{
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
}
.deleteButtons{
  display: flex;
  justify-content: center;
}
.deleteConfirm{
  color: white;
  background-color: #4C51CA;
  margin-right: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
.deleteDecline{
  color: #4C51CA;
  background-color: white;
  border-color: #4C51CA;
  font-weight: 700;
  letter-spacing: 1px;
}
